mixin menu(menuTitle, url, tooltip, icon)
  li(class=title.toLowerCase() == menuTitle.toLowerCase() ? "active" : "")
    a(href=url, title=tooltip)
      if icon
        i(class=icon)
      | #{menuTitle}

.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      a.btn.btn-navbar.pull-left(data-toggle="collapse", data-target=".nav-collapse")
        i.icon-list.icon-white
        span.caret

      a.brand(href="/") markdio
      
      div.nav-collapse
        ul.nav
          +menu('New', '/new', 'create a new document', 'icon-file')
          +menu('My docs', '/my-docs', 'open list of documents', 'icon-folder-open')
          
          block menu-extras
          
        
      if !user
        a.sign-in.btn.btn-primary.pull-right(href="/login") 
          i.icon-signin
          |  login
      else
        div.dropdown.pull-right
          a.btn.btn-inverse.dropdown-toggle(href="#", data-toggle="dropdown", role="button") 
            | #{user.displayName} 
            span.caret
          ul.dropdown-menu(role="menu", aria-labelledby="dLabel")
            li 
              a(href="/logout")
                span.icon-signout
                | sign out